---
import { formatDate } from "../lib/formatDate"

const props = Astro.props
---
<a href={`/blog/${props.props.slug}`} class="card text-decoration-none">
    <img height="200" src={props.props.data.image} class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text text-decoration-none text-black fw-bold fs-4">{props.props.data.title}</p>
      <p>{formatDate(props.props.data.publishedAt)}</p>
    </div>
  </a>