---
---
<footer class=" p-5 w-100">
    <div class="d-flex justify-content-center align-items-center gap-1">
        &copy; 2024 Pajri's Blog . Powered by <a href="https://astro.build" class="text-decoration-none">Astro</a>
    </div>
</footer>