---
---
<nav class="navbar navbar-dark bg-dark position-fixed top-0 start-0 end-0" style="z-index: 9999;">
    <div class="container-fluid">
      <a class="navbar-brand d-flex justify-content-center align-items-center gap-2" href="/">
        <img src="https://astro.js.org/astro.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
        Fajri's Blog
      </a>
    </div>
  </nav>